@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  background: #e5e5e5;
  color: #000000;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 1169.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.button {
  min-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/************************************HEADER************************************************/
.header {
  background: #222222;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__contant {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li {
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__list li:not(:last-child) {
  margin: 0px 33px 0px 0px;
}

.header__link img {
  min-height: 26px;
}

.header__burger {
  cursor: pointer;
}

.header__menu {
  padding: 20px;
}

@media (max-width: 991.98px) {
  .header__menu {
    padding: 25px;
  }
}

@media (max-width: 767.98px) {
  .header__nav li:not(:first-child) {
    display: none;
  }
  .header__nav li:first-child {
    margin: 0;
  }
}

/************************************MENU************************************************/
.menu {
  position: absolute;
  z-index: 50;
  top: 75px;
  right: -200%;
  background: #ffffff;
  min-width: 232px;
  height: calc(100vh - 75px);
  overflow-y: auto;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__closer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.menu__content {
  margin: 10px 0px 0px 0px;
}

.menu__title {
  font-weight: 700;
}

.menu__item {
  margin: 20px 0px 0px 0px;
  border-bottom: 1px solid #6f6e6e;
}

.menu__subtitle {
  color: #f16d7f;
  margin: 0px 0px 12px 0px;
}

.menu__button {
  display: none;
  font-size: 30px;
  color: #ffffff;
  background-color: #f16d7f;
}

.menu__link {
  display: block;
  color: #6f6e6e;
  margin: 0px 0px 12px 0px;
  padding: 0px 0px 0px 20px;
}

.menu__link:hover {
  color: #f16d7f;
}

@media (max-width: 991.98px) {
  body.lock {
    overflow: hidden;
  }
  .menu {
    min-width: 100%;
  }
  .menu__title {
    display: none;
  }
  .menu__linkbox {
    text-align: center;
  }
  .menu__item {
    margin: 70px 0px 0px 0px;
  }
  .menu__subtitle {
    font-size: 40px;
    margin: 0px 0px 70px 0px;
  }
  .menu__link {
    font-size: 34px;
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .menu__content {
    margin: 60px 0px 0px 0px;
  }
  .menu__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px 0px 60px 0px;
  }
}

.menu.active {
  right: 0;
  -webkit-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}

.menu::-webkit-scrollbar {
  width: 0;
}

/************************************MAIN************************************************/
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main__top {
  margin: 75px 0px 65px 0px;
}

.main__offers {
  margin: 0px 0px 96px 0px;
}

.main__products {
  margin: 0px 0px 95px 0px;
}

.main__feature {
  padding: 100px 0px;
}

@media (max-width: 991.98px) {
  .main__top {
    margin: 75px 0px 20px 0px;
  }
  .main__offers {
    margin: 0px 0px 150px 0px;
  }
  .main__products {
    margin: 0px 0px 65px 0px;
  }
  .main__feature {
    padding: 48px 0px 64px 0px;
  }
}

@media (max-width: 767.98px) {
  .main__top {
    margin: 75px 0px 64px 0px;
  }
  .main__offers {
    margin: 0px 0px 64px 0px;
  }
  .main__products {
    margin: 0px 0px 95px 0px;
  }
}

/************************************TOP************************************************/
.top {
  background: #f1e4e6;
}

.top__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__imagebox {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top__imagebox img {
  max-width: 100%;
}

.top__titlebox {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.top__titlebox:before {
  content: "";
  height: 100%;
  width: 12px;
  background: #f16d7f;
  position: absolute;
  top: 0;
  left: -25px;
}

.top__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #222222;
}

.top__title span.bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.top__title span.pink {
  color: #f16d7f;
}

@media (max-width: 991.98px) {
  .top__imagebox img {
    max-width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .top__titlebox {
    margin: 0px 0px 0px 100px;
  }
  .top__title {
    font-size: 24px;
    line-height: 28px;
  }
  .top__title span.bold {
    font-size: 44px;
    line-height: 52px;
  }
}

@media (max-width: 767.98px) {
  .top__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top__imagebox {
    display: none;
  }
  .top__titlebox {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 150px 0px 150px 25px;
  }
  .top__title {
    font-size: 20px;
    line-height: 24px;
  }
  .top__title span.bold {
    font-size: 38px;
    line-height: 45px;
  }
}

/************************************OFFERS************************************************/
.cardbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.cardbox__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 15px;
}

.cardbox__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 30px 0px 0px 0px;
}

@media (max-width: 991.98px) {
  .cardbox {
    margin: 0px -10px;
  }
  .cardbox__column {
    padding: 0px 10px;
  }
  .cardbox__column:last-child {
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .cardbox__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .cardbox__column:not(:first-child) {
    margin: 32px 0px 0px 0px;
  }
}

.card {
  background: #211616;
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.card__image {
  width: 100%;
  opacity: 0.3;
}

.card__title {
  position: absolute;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.card__title span {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #f16d7f;
}

@media (max-width: 767.98px) {
  .cardbox__column:last-child .card__link {
    height: 110px;
  }
  .cardbox__column:last-child .card__image {
    min-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

/************************************PRODUCTS************************************************/
.products__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__titlebox {
  text-align: center;
  margin: 0px 0px 48px 0px;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  margin: 0px 0px 6px 0px;
}

.products__text {
  color: #9f9f9f;
}

.products__buttonbox {
  margin: 48px 0px 0px 0px;
}

.products__button {
  border: 1px solid #f16d7f;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding: 0px 38px;
}

.products__button:hover {
  color: #ffffff;
  background: #f16d7f;
}

@media (max-width: 991.98px) {
  .products__titlebox {
    margin: 0px 0px 72px 0px;
  }
  .products__buttonbox {
    margin: 32px 0px 0px 0px;
  }
}

@media (max-width: 767.98px) {
  .products__titlebox {
    margin: 0px 0px 64px 0px;
  }
  .products__buttonbox {
    margin: 41px 0px 0px 0px;
  }
}

.itembox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.itembox__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 15px;
}

@media (max-width: 1169.98px) {
  .itembox__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 991.98px) {
  .itembox {
    margin: -8px;
  }
  .itembox__column {
    padding: 8px;
  }
}

@media (max-width: 767.98px) {
  .itembox__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.item {
  height: 100%;
  position: relative;
  -webkit-transition: all 0.8s ease-out 0s;
  transition: all 0.8s ease-out 0s;
}

.item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item__link {
  display: block;
}

.item__image {
  width: 100%;
  -webkit-transition: all 0.8s ease-out 0s;
  transition: all 0.8s ease-out 0s;
}

.item:hover .item__image {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item__textbox {
  background: #f8f8f8;
  padding: 20px;
}

.item__name {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin: 0px 0px 12px 0px;
}

.item__description {
  font-weight: 300;
  color: #5d5d5d;
  margin: 0px 0px 18px 0px;
}

.item__price {
  color: #f16d7f;
}

.item__addbox {
  display: none;
  position: absolute;
  top: 188.5px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  -webkit-transition: display 1s ease 0.8s;
  transition: display 1s ease 0.8s;
}

.item:hover .item__addbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: display 1s ease 0.5s;
  transition: display 1s ease 0.5s;
}

.item__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid #ffffff;
  pointer-events: all;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item__add:hover {
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.item__add-text {
  color: #ffffff;
  margin: 0px 0px 0px 11px;
}

/************************************FEATURE************************************************/
.feature {
  background: #222224;
}

.servicebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servicebox__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

@media (max-width: 991.98px) {
  .servicebox__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .servicebox__column:not(:first-child) {
    margin: 47px 0px 0px 0px;
  }
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service *:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.service__image {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__title {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
}

.service__text {
  font-weight: 300;
  text-align: center;
  color: #fbfbfb;
}

/************************************FOOTER************************************************/
.footer__base {
  padding: 97px 0px 130px 0px;
}

@media (max-width: 991.98px) {
  __base {
    padding: 50px 0px 130px 0px;
  }
}

@media (max-width: 767.98px) {
  __base {
    padding: 50px 0px 110px 0px;
  }
}

/************************************BASE************************************************/
.base {
  background: url(../img/index/base/base-bg.png) center/cover no-repeat;
}

.base__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.base__imagebox {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.base__text {
  max-width: 360px;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  text-align: center;
  margin: 30px 0px 0px 0px;
}

.base__subscribe {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px 0px 0px;
}

.base__title {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  margin: 0px 0px 32px 0px;
}

.base__title span {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
}

.base__form {
  min-width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.base__email {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 72%;
          flex: 0 1 72%;
  background: #e1e1e1;
  padding: 15px 5px 15px 20px;
  border-radius: 20px 0px 0px 20px;
}

.base__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
  color: #ffffff;
  background: #f16d7f;
  padding: 0px 8px;
  border-radius: 0px 20px 20px 0px;
}

.base__button:hover {
  background: #e05c6e;
}

@media (max-width: 991.98px) {
  .base {
    background-position: 25%;
  }
  .base__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .base__imagebox {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .base__subscribe {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .base__title {
    margin: 0px 0px 25px 0px;
  }
}

@media (max-width: 767.98px) {
  .base__title {
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 400px) {
  .base__form {
    min-width: 300px;
  }
}

/************************************COPY************************************************/
.copy {
  background: #222224;
  width: 100%;
}

.copy__content {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copy__text {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

/************************************OTHER PAGES************************************************/
/************************************MAIN************************************************/
.main__apex {
  margin: 75px 0px 0px 0px;
  padding: 60px 0px;
}

.main__slider-block {
  padding: 11px 0px 42px 0px;
}

@media (max-width: 767.98px) {
  .main__apex {
    padding: 24px 0px 46px 0px;
  }
}

/************************************APEX************************************************/
.apex {
  background: #f8f3f4;
}

.apex__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.apex__title {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.apex__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.apex__list li:last-child {
  color: #f16d7f;
  padding: 0px 0px 0px 5px;
}

.apex__list li:not(:last-child):after {
  content: "/";
  color: #636363;
}

.apex__link {
  font-weight: 300;
  color: #636363;
  padding: 5px;
}

.apex__link:hover {
  color: #f16d7f;
}

@media (max-width: 767.98px) {
  .apex__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .apex__title {
    padding: 0px 0px 16px 0px;
  }
  .apex__nav {
    padding: 16px 0px 0px 0px;
  }
}

/************************************SLIDER-BLOCK************************************************/
.slider-block {
  background: #f7f7f7;
}

.slider-block__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-block__image {
  max-width: 100%;
}
/*# sourceMappingURL=style.css.map */