@import "_nullstyle.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;600;700;900&display=swap");

$site-color: #f16d7f;

body {
   font-family: "Lato", sans-serif;
   font-size: 14px;
   line-height: 17px;
   font-weight: 400;
   background: #e5e5e5;
   color: #000000;
}

.container {
   max-width: 1170px;
   margin: 0 auto;
   padding: 0px 15px;
}

@media (max-width: 1169.98px) {
   .container {
      max-width: 970px;
   }
}

@media (max-width: 991.98px) {
   .container {
      max-width: 750px;
   }
}

@media (max-width: 767.98px) {
   .container {
      max-width: none;
   }
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.button {
   min-height: 47px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s ease 0s;

   &:hover {
      transition: all 0.5s ease 0s;
   }
}

/************************************HEADER************************************************/

@import "_header.scss";

/************************************MAIN************************************************/

.main {
   flex: 1 1 auto;

   &__top {
      margin: 75px 0px 65px 0px;
   }

   &__offers {
      margin: 0px 0px 96px 0px;
   }

   &__products {
      margin: 0px 0px 95px 0px;
   }

   &__feature {
      padding: 100px 0px;
   }
}

@media (max-width: 991.98px) {
   .main {
      &__top {
         margin: 75px 0px 20px 0px;
      }

      &__offers {
         margin: 0px 0px 150px 0px;
      }

      &__products {
         margin: 0px 0px 65px 0px;
      }

      &__feature {
         padding: 48px 0px 64px 0px;
      }
   }
}

@media (max-width: 767.98px) {
   .main {
      &__top {
         margin: 75px 0px 64px 0px;
      }

      &__offers {
         margin: 0px 0px 64px 0px;
      }

      &__products {
         margin: 0px 0px 95px 0px;
      }
   }
}

/************************************TOP************************************************/

.top {
   background: #f1e4e6;
   &__content {
      display: flex;
   }

   &__imagebox {
      flex: 0 1 50%;
   }

   &__imagebox img {
      max-width: 100%;
   }

   &__titlebox {
      flex: 0 1 50%;
      align-self: center;
      position: relative;
   }

   &__titlebox:before {
      content: "";
      height: 100%;
      width: 12px;
      background: $site-color;
      position: absolute;
      top: 0;
      left: -25px;
   }

   &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: #222222;

      span.bold {
         font-weight: 900;
         font-size: 48px;
         line-height: 58px;
      }

      span.pink {
         color: $site-color;
      }
   }
}

@media (max-width: 991.98px) {
   .top {
      &__imagebox img {
         max-width: 100%;
         margin: 0px 0px 0px 0px;
      }

      &__titlebox {
         margin: 0px 0px 0px 100px;
      }

      &__title {
         font-size: 24px;
         line-height: 28px;

         span.bold {
            font-size: 44px;
            line-height: 52px;
         }
      }
   }
}

@media (max-width: 767.98px) {
   .top {
      &__content {
         justify-content: center;
      }

      &__imagebox {
         display: none;
      }

      &__titlebox {
         flex: 0 0 auto;
         margin: 150px 0px 150px 25px;
      }

      &__title {
         font-size: 20px;
         line-height: 24px;

         span.bold {
            font-size: 38px;
            line-height: 45px;
         }
      }
   }
}

/************************************OFFERS************************************************/

.cardbox {
   display: flex;
   flex-wrap: wrap;
   margin: 0px -15px;

   &__column {
      flex: 0 1 33.333%;
      padding: 0px 15px;
   }

   &__column:last-child {
      flex: 0 1 100%;
      margin: 30px 0px 0px 0px;
   }
}

@media (max-width: 991.98px) {
   .cardbox {
      margin: 0px -10px;

      &__column {
         padding: 0px 10px;
      }

      &__column:last-child {
         margin: 20px 0px 0px 0px;
      }
   }
}

@media (max-width: 767.98px) {
   .cardbox {
      &__column {
         flex: 0 1 100%;
      }

      &__column:not(:first-child) {
         margin: 32px 0px 0px 0px;
      }
   }
}

.card {
   background: #211616;
   &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
   }

   &__image {
      width: 100%;
      opacity: 0.3;
   }

   &__title {
      position: absolute;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #ffffff;
   }

   &__title span {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: $site-color;
   }
}

@media (max-width: 767.98px) {
   .cardbox__column:last-child {
      .card {
         &__link {
            height: 110px;
         }

         &__image {
            min-height: 100%;
            object-fit: cover;
         }
      }
   }
}

/************************************PRODUCTS************************************************/

.products {
   &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__titlebox {
      text-align: center;
      margin: 0px 0px 48px 0px;
   }

   &__title {
      font-size: 30px;
      line-height: 36px;
      color: #222222;
      margin: 0px 0px 6px 0px;
   }

   &__text {
      color: #9f9f9f;
   }

   &__buttonbox {
      margin: 48px 0px 0px 0px;
   }

   &__button {
      border: 1px solid $site-color;
      font-size: 16px;
      line-height: 19px;
      color: $site-color;
      padding: 0px 38px;
   }

   &__button:hover {
      color: #ffffff;
      background: $site-color;
   }
}

@media (max-width: 991.98px) {
   .products {
      &__titlebox {
         margin: 0px 0px 72px 0px;
      }

      &__buttonbox {
         margin: 32px 0px 0px 0px;
      }
   }
}

@media (max-width: 767.98px) {
   .products {
      &__titlebox {
         margin: 0px 0px 64px 0px;
      }

      &__buttonbox {
         margin: 41px 0px 0px 0px;
      }
   }
}

.itembox {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;

   &__column {
      flex: 0 1 33.333%;
      padding: 15px;
   }
}

@media (max-width: 1169.98px) {
   .itembox {
      &__column {
         flex: 0 1 50%;
      }
   }
}

@media (max-width: 991.98px) {
   .itembox {
      margin: -8px;

      &__column {
         padding: 8px;
      }
   }
}

@media (max-width: 767.98px) {
   .itembox {
      &__column {
         flex: 0 1 100%;
      }
   }
}

.item {
   height: 100%;
   position: relative;
   transition: all 0.8s ease-out 0s;

   &:hover {
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
      transition: all 0.5s ease 0s;
   }

   &__link {
      display: block;
   }

   &__image {
      width: 100%;
      transition: all 0.8s ease-out 0s;
   }

   &:hover &__image {
      filter: brightness(30%);
      transition: all 0.5s ease 0s;
   }

   &__textbox {
      background: #f8f8f8;
      padding: 20px;
   }

   &__name {
      font-size: 13px;
      line-height: 16px;
      color: #000000;
      margin: 0px 0px 12px 0px;
   }

   &__description {
      font-weight: 300;
      color: #5d5d5d;
      margin: 0px 0px 18px 0px;
   }

   &__price {
      color: $site-color;
   }

   &__addbox {
      display: none;
      position: absolute;
      top: 188.5px;
      width: 100%;
      justify-content: center;
      pointer-events: none;
      transition: display 1s ease 0.8s;
   }

   &:hover &__addbox {
      display: flex;
      transition: display 1s ease 0.5s;
   }

   &__add {
      display: flex;
      align-items: center;
      padding: 10px;
      border: 1px solid #ffffff;
      pointer-events: all;
      transition: all 0.5s ease 0s;

      .fa {
         font-size: 25px;
         color: #ffffff;
      }
   }

   &__add:hover {
      box-shadow: 0 0 10px #ffffff;
      transition: all 0.5s ease 0s;
   }

   &__add-text {
      color: #ffffff;
      margin: 0px 0px 0px 11px;
   }
}

/************************************FEATURE************************************************/

.feature {
   background: #222224;
}

.servicebox {
   display: flex;
   margin: 0px -15px;
   flex-wrap: wrap;

   &__column {
      padding: 0px 15px;
      flex: 0 1 33.333%;
   }
}

@media (max-width: 991.98px) {
   .servicebox {
      &__column {
         flex: 0 1 100%;
      }

      &__column:not(:first-child) {
         margin: 47px 0px 0px 0px;
      }
   }
}

.service {
   display: flex;
   flex-direction: column;
   align-items: center;

   *:not(:last-child) {
      margin: 0px 0px 20px 0px;
   }

   &__image {
      height: 40px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
   }

   &__title {
      font-size: 20px;
      line-height: 24px;
      color: #fbfbfb;
   }

   &__text {
      font-weight: 300;
      text-align: center;
      color: #fbfbfb;
   }
}

/************************************FOOTER************************************************/

@import "_footer.scss";

/************************************OTHER PAGES************************************************/

@import "_product.scss";

@import "_catalog.scss";
